sun = #f1c40f
esmerald = #2ecc71
esmerald_black = #27ae60
blue = #3498db
purple = #9b59b6
cloud = #ecf0f1

box-shadow(args)
	-webkit-box-shadow args
	-moz-box-shadow args
	box-shadow args

border-radius(args)
	-webkit-border-radius args
	-moz-border-radius args
	border-radius args

transition(args)
	-webkit-transition args
	-moz-transition args
	transition args

*
	font-family 'Roboto', sans-serif
	font-weight 300

.navbar-no-bg
	background none
	border 0
	transition 0.1s

.navbar-white
	background white
	border 0
	transition 0.1s
	box-shadow(0px 6px 15px -8px rgba(0,0,0,0.75))
	h1
		color #000

.navbar-right
	padding 15px

.none
	display none

h1
	font-size 38px
	font-weight 100
	line-height 50px

h3
	font-weight 300

strong
	font-weight 500

p
	font-weight 300
	font-size 16px

.form-title
	background white
	color black
	padding 15px

.form-box
	color black
	padding 25px 25px 30px 25px
	background cloud

.content
	background url('../img/background.jpg')
	background-size cover
	padding 150px 0 100px 0
	color #fff

.box-white
	background #fff
	color #000
	padding 20px

.text
	padding-top 70px

.text-foot
	padding-top 15px
	font-size 15px
	font-weight 100

.sun-light
	color sun

.blue-light
	color blue

.green-light
	color esmerald

.purple-light
	color purple

.light
	color cloud

form
	padding-top 10px

.btn
	padding 10px
	color white
	background esmerald
	transition 0.1s
	&:hover
	&:active
	&:focus
		color white
		transition 0.1s
		box-shadow(0px 6px 15px -8px rgba(0,0,0,0.75))

.logo-upc
	width 90px
	height auto
	margin-top 20px

.form-control
	height: 50px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #f8f8f8;
	border: 1px solid #ddd;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #888;
	border-radius(4px)
	box-shadow(0 1px 0 0 #fff)
	transition(all .3s)

.icon
	font-size 60px
	color esmerald_black

footer
	background esmerald_black
	color cloud
	padding 20px 0px 10px