{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>HotelControl</title>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-no-bg">
			<div class="container">
				<div class="navbar-header">
					<h1 class="light"><strong class="green-light">Hotel</strong>Control</h1>
				</div>
			</div>
		</nav>
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 text">
						<h1>Certifica tu Hotel en <strong>Sostenibilidad</strong></h1>
						<p class="light">Quieres saber la norma NTS-TS002 de sostenibilidad para establecimientos de alojamiento y hospedaje?</p>
					</div>
					<div class="col-sm-6 text-center">
						<div class="form-title">
							<h3>Inscríbete para saber más</h3>
						</div>
						<div class="form-box">
							{% for message in messages %}
								<div class="text-{{ message.tags }}">{{ message }}</div>
							{% endfor %}
							<form action="{% url 'home' %}" method="post">
								{% csrf_token %}
								{% for form in form %}
									<div class="form-group">
										{{ form }}
									</div>
								{% endfor %}
								<input type="submit" value="Solicita Material Gratuito" class="btn" />
							</form>
							<p class="text-foot">Apoyado por la Universidad Piloto de Colombia, Seccional Alto Magdalena</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>